

@media (min-width: 1440px) {
	.home {
		background-image: url("https://netology-code.github.io/mq-homeworks/adaptive-typography/family-album/img/wedding4.jpg");
	}
}

@media (min-width: 641px) and (max-width: 1399px)  {
	.home {
		background-image: url("https://netology-code.github.io/mq-homeworks/adaptive-typography/family-album/img/wedding3.jpg");
	}
}

@media (max-width: 640px) and (orientation: landscape) {
	.home {
		background-image: url("https://netology-code.github.io/mq-homeworks/adaptive-typography/family-album/img/wedding2.jpg");
	}
}

@media (max-width: 640px) and (orientation: portrait) {
	.home {
		background-image: url("https://netology-code.github.io/mq-homeworks/adaptive-typography/family-album/img/wedding1.jpg");
	}
}
